{% extends 'page.html.twig' %}
{% block title %}GINGERCUP STORIES | GingerCup{% endblock %}

{% block stylesheets %}
<link rel='stylesheet' href="{{ asset('unitegallery/css/unite-gallery.css') }}" type='text/css' /> 

{% endblock %}

{% block javascripts %}

	<script type='text/javascript' src="{{ asset('unitegallery/js/unitegallery.min.js') }}"></script> 			
		<script type='text/javascript' src="{{ asset('unitegallery/themes/tilesgrid/ug-theme-tilesgrid.js') }}"></script> 
		
<script type="text/javascript"> 
			
			jQuery(document).ready(function(){ 
				 jQuery("#gallery").unitegallery({
					tiles_type:"tilesgrid",
				}); 
			
			}); 
		
		</script>
		 

{% endblock %}
  {% block body %}
<section class="section clearfix">
<div class="container">
    <h1 class="text-center page-heading"><span>GingerCup</span> Gallery</h1>
    
    <div class="row">
       
        <div class="col-lg-9">
           <div id="gallery" style="display: none">
           
           
 
  <a href="#">
<img alt="bookmyshow movie tickets papercup promotion"
     src="{{ asset('images/gallery/bookmyshow_dli_clg.jpg') }}"
     data-image="{{ asset('images/gallery/bookmyshow_dli_clg.jpg') }}"
     data-description=""
     style="display:none">
</a>

 <a href="#">
<img alt="app promotion through paper cup"
     src="{{ asset('images/gallery/bookmyshow_dli_cups_2.JPG') }}"
     data-image="{{ asset('images/gallery/bookmyshow_dli_cups_2.JPG') }}"
     data-description=""
     style="display:none">
</a>

 <a href="#">
<img alt="promotion compant app guerrilla marketing"
     src="{{ asset('images/gallery/bookmyshow_dli_cups.JPG') }}"
     data-image="{{ asset('images/gallery/bookmyshow_dli_cups.JPG') }}"
     data-description=""
     style="display:none">
</a>

 <a href="#">
<img alt="hit movie ticket promotion via papercup ad"
     src="{{ asset('images/gallery/bookmyshow_dli_mall_2.JPG') }}"
     data-image="{{ asset('images/gallery/bookmyshow_dli_mall_2.JPG') }}"
     data-description=""
     style="display:none">
</a>

 <a href="#">
<img alt="book my show modern papercup ad promotion"
     src="{{ asset('images/gallery/bookmyshow_dli_mall.JPG') }}"
     data-image="{{ asset('images/gallery/bookmyshow_dli_mall.JPG') }}"
     data-description=""
     style="display:none">
</a>

 <a href="#">
<img alt="best app promotion medium papercup gingercup"
     src="{{ asset('images/gallery/bookmyshow_dli_mall3.JPG') }}"
     data-image="{{ asset('images/gallery/ bookmyshow_dli_mall3.JPG') }}"
     data-description=""
     style="display:none">
</a>


 <a href="#">
<img alt="gingercup app promotion through papercups"
     src="{{ asset('images/gallery/bookmyshow_dli_mall4.JPG') }}"
     data-image="{{ asset('images/gallery/bookmyshow_dli_mall4.JPG') }}"
     data-description=""
     style="display:none">
</a>

 <a href="#">
<img alt="unconventional and funky way to promote app through papercups"
     src="{{ asset('images/gallery/bookmyshow_dli_mkt.jpg') }}"
     data-image="{{ asset('images/gallery/bookmyshow_dli_mkt.jpg') }}"
     data-description=""
     style="display:none">
</a>

 <a href="#">
<img alt="groundbreaking ads on papercup by gingercup"
     src="{{ asset('images/gallery/bookmyshow_dli_mkt2.jpg') }}"
     data-image="{{ asset('images/gallery/bookmyshow_dli_mkt2.jpg') }}"
     data-description=""
     style="display:none">
</a>

 <a href="#">
<img alt="bookmyshow finds gingercup papercup advertising really helpful"
     src="{{ asset('images/gallery/bookmyshow_dli_mkt3.jpg') }}"
     data-image="{{ asset('images/gallery/bookmyshow_dli_mkt3.jpg') }}"
     data-description=""
     style="display:none">
</a>

 <a href="#">
<img alt="papercup print offline unconventional advertisment"
     src="{{ asset('images/gallery/bookmyshow_dli_mkt4.jpg') }}"
     data-image="{{ asset('images/gallery/bookmyshow_dli_mkt4.jpg') }}"
     data-description=""
     style="display:none">
</a>

 <a href="#">
<img alt="book my show offline presence through printed ads on papercups"
     src="{{ asset('images/gallery/bookmyshow_dli_street_2.jpg') }}"
     data-image="{{ asset('images/gallery/bookmyshow_dli_street_2.jpg') }}"
     data-description=""
     style="display:none">
</a>

 <a href="#">
<img alt="bookmyshow competes with tixdo in offline space with papercup ads"
     src="{{ asset('images/gallery/bookmyshow_dli_street.JPG') }}"
     data-image="{{ asset('images/gallery/bookmyshow_dli_street.JPG') }}"
     data-description=""
     style="display:none">
</a>

 <a href="#">
<img alt="tixdo competitor uses papercup ads"
     src="{{ asset('images/gallery/bookmyshow_dli_street3.jpg') }}"
     data-image="{{ asset('images/gallery/bookmyshow_dli_street3.jpg') }}"
     data-description=""
     style="display:none">
</a>

 <a href="#">
<img alt="gingercup does wonders for bookmyshow offline and goes viral online"
     src="{{ asset('images/gallery/bookmyshow_dli_street4.JPG') }}"
     data-image="{{ asset('images/gallery/bookmyshow_dli_street4.JPG') }}"
     data-description=""
     style="display:none">
</a>
 
			
			
			
			
			
		{#}
			<img alt="Image 1 Title" src="{{ asset('images/gallery/Banner1.jpg') }}"
				data-image="{{ asset('images/gallery/Banner1.jpg') }}"
				>
				{#}
			
			
			</div>
		</div>
		
		
				<div class="col-lg-3">
		<ul>
			<li> <a href="{{ path('deliverypartner_bahubali_gallery')}}">
			Bahubali
			</a></li>
			<li> <a href="{{ path('deliverypartner_bookmyshow_gallery')}}">
			Bookmyshow
			</a></li>
			<li> <a href="{{ path('deliverypartner_brigade_gallery')}}">
			Brigade
			</a></li>
			
			<li> <a href="{{ path('deliverypartner_Hotstar_gallery')}}">
			Hotstar
			</a></li>
			<li> <a href="{{ path('deliverypartner_pokerninja_college_gallery')}}">
			Pokerninja College
			</a></li>
			<li> <a href="{{ path('deliverypartner_uber_gallery')}}">
			Uber
			</a></li>
			
			
			<li> <a href="{{ path('deliverypartner_checkLittle_gallery')}}">
			Little
			</a></li>
			
			<li> <a href="{{ path('deliverypartner_clovia_gallery')}}">
			Clovia
			</a></li>
			
			<li> <a href="{{ path('deliverypartner_colors_gallery')}}">
			Colors
			</a></li>
			
			
			<li> <a href="{{ path('deliverypartner_flashdoor_gallery')}}">
			Flashdoor
			</a></li>
			
			<li> <a href="{{ path('deliverypartner_fxkart_gallery')}}">
			FX Kart
			</a></li>
			
			<li> <a href="{{ path('deliverypartner_huawei_gallery')}}">
			Huawei
			</a></li>
			
			<li> <a href="{{ path('deliverypartner_modasta_gallery')}}">
			Modasta
			</a></li>
			<li> <a href="{{ path('deliverypartner_myra_gallery')}}">
			Myra
			</a></li>
			<li> <a href="{{ path('deliverypartner_nestaway_gallery')}}">
			Nestaway
			</a></li>
			<li> <a href="{{ path('deliverypartner_pioneer_gallery')}}">
			Pioneer
			</a></li>
			<li> <a href="{{ path('deliverypartner_pizzahut_gallery')}}">
			Pizzahut
			</a></li>
			<li> <a href="{{ path('deliverypartner_pulse_gallery')}}">
			Pulse
			</a></li>
			<li> <a href="{{ path('deliverypartner_scripbox_gallery')}}">
			Scripbox
			</a></li>
			<li>
			 <a href="{{ path('deliverypartner_superprofs_gallery')}}">
			Superprofs
			</a></li>
			<li>
			 <a href="{{ path('deliverypartner_wooplr_gallery')}}">
			Wooplr
			</a></li>
			<li>
			 <a href="{{ path('deliverypartner_yumist_gallery')}}">
			Yumist
			</a></li>
			 
			
			<li>
			
			 <a href="{{ path('deliverypartner_other_gallery')}}">
			Others
			</a></li>
		</ul>
		</div>
        
    </div>
    
    <div class="small-gap"></div>

</div>
</section>
{% endblock %}