{% extends 'page.html.twig' %}
{% block title %}GINGERCUP STORIES | GingerCup{% endblock %}

{% block stylesheets %}
<link rel='stylesheet' href="{{ asset('unitegallery/css/unite-gallery.css') }}" type='text/css' /> 

{% endblock %}

{% block javascripts %}

	<script type='text/javascript' src="{{ asset('unitegallery/js/unitegallery.min.js') }}"></script> 			
		<script type='text/javascript' src="{{ asset('unitegallery/themes/tilesgrid/ug-theme-tilesgrid.js') }}"></script> 
		
<script type="text/javascript"> 
			
			jQuery(document).ready(function(){ 
				 jQuery("#gallery").unitegallery({
					gallery_width:"100%",
					tiles_type:"tilesgrid",
					tile_enable_textpanel: true,	
					tile_textpanel_source: "title",	
					tile_textpanel_always_on: true,
					tile_width: 300,		
					tile_height: 250,
					tile_as_link: true,
					tile_link_newpage: false,
					tile_border_width: 9,
				}); 
			
			}); 
		
		</script>
		 

{% endblock %}
  {% block body %}
<section class="section clearfix page">
<div class="">
    <h1 class="text-center page-heading"><span>GingerCup</span> Gallery</h1>
    
    <div class="row" >
       
        <div class="col-lg-12">
        
        <div id="gallery" >
        {% for gallery in galleries %}
           
{# 			 <a href="{{ path('cup_site_management_gallery_collection_view')}}" id="{{ gallery.id }}">#}
			 
			 <a href="{{ path('cup_site_management_gallery_collection_view', {'url': gallery.url})}}">
			
			<img alt="{{ gallery.name }}"
			     src="{{ asset('../../GalleryCollections/'~gallery.imagePath) }}"
			     data-image="{{ asset('../../GalleryCollections/'~gallery.imagePath) }}"
			     data-description="" 
			 >
			  
			</a>
		
			
			
			{% endfor %}
			</div>
		</div>
        
    </div>
    
    <div class="small-gap"></div>

</div>
</section>
{% endblock %}