{% extends 'page.html.twig' %}
{% block title %}News | GingerCup{% endblock %}

{% block javascript %}

{% endblock %}

{% block meta %}
<meta name="description" itemprop="description" content="Promote your brand,create more awareness and revenue through disposable coffee cup advertising.Gingercup offers premium range of coffee paper cups & mugs." />
<meta name="keywords" content="coffee cup advertising,paper cup advertising India,cup advertising,printed paper cups,Free Paper Cup Advertising,advertising coffee cup,advertising cup,coffee cup advertising,coffee mug advertising,ginger cups,advertising mug,paper cup media">
<link rel="canonical" href="http://www.gingercup.com/news/" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="article" />
<meta property="og:title" content="News - GingerCup" />
<meta property="og:url" content="http://www.gingercup.com/news/" />
<meta property="og:site_name" content="GingerCup" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="News - GingerCup" />
{% endblock %}


  {% block body %}
<section class="section clearfix page">
<div class="">
    <h1 class="text-center page-heading ">News</h1>
    
    {% for media in mediaList %}
    
    <div class="row">
        <div class="col-lg-3 text-center img-center">
             <img class="img-responsive" src="{{ asset('../../medias/'~media.mediaLogo) }}">
        </div>
        <div class="col-lg-9 img-center">
            <h3 class="sub-title">{{ media.newsSubject }}</h3>
            <p class="page-text">{{media.newsDescription  }}</p>
           <p>Read More in <a title="{{ media.newsTitle }}" href="{{media.newsLink}}" target="_blank">{{ media.mediaName }}</a></p>
        </div>
    </div>
    
	{% endfor %}
 </div>
</section>
{% endblock %}