{% extends 'page.html.twig' %}
{% block title %}GingerCup | Stories and Latest News{% endblock %}

{% block javascript %}

{% endblock %}

{% block meta %}
<meta name="description" itemprop="description" content="Read latest news and success stories of GingerCup, paper cup advertising agency. Also, stay informed of our latest cup branding campaigns and public responses." />
<meta name="keywords" content="coffee cup advertising,paper cup advertising India,cup advertising,printed paper cups,Free Paper Cup Advertising,advertising coffee cup,advertising cup,coffee cup advertising,coffee mug advertising,ginger cups,advertising mug,paper cup media">
<link rel="canonical" href="http://www.gingercup.com/news/" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="article" />
<meta property="og:title" content="News - GingerCup" />
<meta property="og:url" content="http://www.gingercup.com/news/" />
<meta property="og:site_name" content="GingerCup" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="News - GingerCup" />
{% endblock %}


  {% block body %}
<section class="section clearfix page">
<div class="">
    <h1 class="text-center page-heading ">News</h1>
    
     {% set i=0 %}
    {% for media in mediaList %}
    
   
	{% if (loop.index is odd) %}
    
    <div class="row">
    
   
    
        <div class="col-lg-3 text-center img-center">
        <div class="box-img-outer">
         <div class="box-img-outer">
         	<div class="row text-center box-img">
             <img class="img-responsive" src="{{ asset('../../medias/'~media.mediaLogo) }}">
             </div>
        </div>
        </div>
        
        </div>
        <div class="col-lg-9 img-center">
            <h3 class="sub-title" style="color:#FD143A;">{{ media.newsSubject }}</h3>
            <p class="page-text">{{media.newsDescription  }}</p>
          {#} <p>Read More in <a title="{{ media.newsTitle }}" href="{{media.newsLink}}" target="_blank">{{ media.mediaName }}</a></p>{#}
        </div>
        
        <a href="{{media.newsLink}}" class="btn btn-danger pull-right medialinkright" >Read More</a>
    </div>
    
    {% else %}
    
    <div class="row">
    
   
        <div class="col-lg-9 img-center">
            <h3 class="sub-title">{{ media.newsSubject }}</h3>
            <p class="page-text">{{media.newsDescription  }}</p>
          {#} <p>Read More in <a title="{{ media.newsTitle }}" href="{{media.newsLink}}" target="_blank">{{ media.mediaName }}</a></p>{#}
        </div>
         <div class="col-lg-3 text-center img-center">
         <div class="box-img-outer">
         <div class="box-img-outer">
         	<div class="row text-center box-img">
             <img class="img-responsive" src="{{ asset('../../medias/'~media.mediaLogo) }}">
             </div>
        </div>
        </div>
        
        </div >
        
        <a href="{{media.newsLink}}" class="btn btn-danger pull-left medialinkleft" >Read More</a>
    </div>
   {% endif %}
                      
                    
               
    
	{% endfor %}
 </div>
</section>
{% endblock %}