{% extends 'page.html.twig' %}

{% block title %}Cup Branding Campaigns | Companies Advertising on paper cup{% endblock %}

{% block javascript %}
{{ render(controller("CupSiteManagementBundle:Clients:popUpContact")) }} 
{% endblock %}


{% block meta %}
<meta name="description" itemprop="description" content="Branded paper cups have made tea breaks a point of discussion for youngsters. Every ad on a paper cup has a unique story to tell which interests them." />
<meta name="keywords" content="coffee cup advertising,paper cup advertising India,cup advertising,printed paper cups,Free Paper Cup Advertising,advertising coffee cup,advertising cup,coffee cup advertising,coffee mug advertising,ginger cups,advertising mug,paper cup media">
<link rel="canonical" href="http://www.gingercup.com/gingercup-story/" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="article" />
<meta property="og:title" content="GINGERCUP STORIES - GingerCup" />
<meta property="og:url" content="http://www.gingercup.com/gingercup-story/" />
<meta property="og:site_name" content="GingerCup" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="GINGERCUP STORIES - GingerCup" />
{% endblock %}
  {% block body %}
  
<section class="section clearfix page ">
<div class="">
    <h1 class="text-center page-heading"><span>GingerCup</span> Campaigning</h1>
    <div class="small-gap"></div>
    <div>
    
    	<div class="row">  
    	<div class="col-lg-12"><h1 class="sub-title">Paper Cup Advertising - Brand Promotional Campaign</h1></div>
      <div class="col-lg-6 box-outer storybox-paper ">
		<div class="box">
{# 		<a href="{{ path('deliverypartner_paper_cup_advertising') }}">#}
			<div class="box-img-outer">
            <div class="text-center box-img">
            <img class="img-responsive responce-img" src="{{ asset('images/Hotstar.png') }}"  alt="Customised disposable paper cup marketing campaign for Hotstar " title="Customised disposable paper cup marketing campaign for Hotstar " >
                
            </div>
            </div>
{#             </a>#}
         {#  <h2 class="sub-title storytitle coffeetitle">Customised disposable paper cup marketing campaign for  <span style="color:red;";>  Hotstar </span> </h2>#}
            <div class="row">
            <h2 class="text-left storytitle "> Increase Brand Awareness with Paper Cup Marketing  </h2>
                 <div class="col-lg-12">
                <p class="page-text adv">We understand your target group's interest lies in two things - food and drink. So, what better places to promote a brand than on what people are drinking from. An average coffee drinker spends 37 minutes with a paper cup. Paper cup marketing, popularly referred to as mini-billboards flaunts a brand's logo and tagline, and effectively communicates to a targeted demographic, the announcement of an offer, sale or promotional message. We make use of this powerful marketing media to create 'cups that serve a purpose'. Advertising on coffee cups is not just limited to the tea/coffee drinker, but everyone who passes them directly or indirectly in supermarkets, offices, colleges, schools, railways, airports or literally anywhere where takeaway paper cups are used. We believe that a little exposure in the right place can go a long way. Paper cup marketing in Bangalore has an exposure time of 3-5 minutes unlike any other media. We stimulate discussions and engages with customers up-close and personal. Customized coffee cup branding campaign also creates instant brand recall. 	</p>
                </div>
            </div>
            <div class="col-lg-12 text-center btn-campaign">
			<a class="btn btn-primary read-more campaign-btn" href="{{ path('cup_site_management_gallery_collection_view', {'url': 'hotstar'})}}" > Hotstar campaign's Pictures</a>
			</div>
        </div>
      </div>
    {#  <div class="col-lg-6 box-outer storybox-paper ">
		<div class="box">

			<div class="box-img-outer">
            <div class="text-center box-img">
            <img class="img-responsive responce-img" src="{{ asset('images/Chumbak.png') }}"  alt=""  >
                
            </div>
            </div>

           <h3 class="sub-title storytitle coffeetitle">Branded coffee cup advertisement for   <span style="color:red;";>  Chumbak  </span> </h3>
            <div class="row">
            <h3 class="text-left storytitle "> Personalized Brand in Hand Experience for your target audience  </h3>
                 <div class="col-lg-12">
                <p class="page-text adv">We at GingerCup brew ideas on coffee cups. With paper cup marketing, you can put your brand directly into the hands of the target audience. In a way, they get to feel, touch and hold your brand. Immense thought and time goes into the coffee cup advertising campaign. We examine various target segments and choose locations where the paper cup marketing campaign is likely to garner the most attention. We make sure your brand goes into the hands of your prospective customers that are willing to convert into actual sales. Corporate offices, colleges, airlines, railways, tea stall vendors, and convenience stores are the places we make sure your brand reaches. The medium speaks loud and clear to your target group and generates instant reactions and feedback. Takeaway tea cup advertising allows you to choose your target segment based on location, city, age and lifestyle. If you want to reinforce your brand message to your target group every single day, promotional coffee cups are ideal.  	</p>
                </div>
            </div>
            <div class="col-lg-12 text-center btn-campaign">
			<button class="btn btn-primary read-more campaign-btn"><a href="{{ path('deliverypartner_paper_cup_advertising') }}"> Chumbak campaign's Pictures</a></button>
			</div>
        </div>
      </div>#}
      <div class="col-lg-6 box-outer storybox-paper ">
		<div class="box">

			<div class="box-img-outer">
            <div class="text-center box-img">
            <img class="img-responsive responce-img" src="{{ asset('images/uber.png') }}" title="Takeaway tea cup promotion in Colleges and Corporate Offices for Uber" alt="Takeaway tea cup promotion in Colleges and Corporate Offices for Uber"  >
                
            </div>
            </div>

          {# <h2 class="sub-title storytitle coffeetitle">Takeaway tea cup promotion in Colleges and Corporate Offices for   <span style="color:red;";>  Uber </span> </h2>#}
            <div class="row">
            <h2 class="text-left storytitle "> Promoting your customized tea cups in high-traffic locations </h2>
                 <div class="col-lg-12">
                <p class="page-text adv">We at GingerCup clearly identify what your business needs and strategize on the distribution of the coffee cups. We choose an approach that best fits your business model. Further, it is all done keeping in mind the client's budget, targeted audience, campaign duration and location. GingerCup has a registered vendor network. The network includes top IT parks, corporate offices, colleges, railways, airlines, tea vendors and convenience stores. We have a strong distribution network in India in cities namely Bangalore, Noida, Mumbai, Hyderabad, Chennai and Delhi. Our entire paper cup marketing approach focuses on getting the best return on investment for your business. A paper cup campaign in the form of a moving billboard helps us gain valuable insights on your business. Unlike any other advertising media, paper cup marketing has an exposure time of 3-5 minutes. No matter what your brand is or who you are looking to target, disposable coffee cups will definitely facilitate a call to action. 	</p>
                </div>
            </div>
            <div class="col-lg-12 text-center btn-campaign">
			<a class="btn btn-primary read-more campaign-btn" href="{{ path('cup_site_management_gallery_collection_view', {'url': 'uber'})}}"> Uber campaign's Pictures</a>
			</div>
        </div>
      </div>
      <div class="col-lg-12"><h1 class="sub-title">Paper Cup Branding with Different Goals</h1></div>
      <div class="col-lg-6 box-outer storybox-paper ">
		<div class="box">
{# 		<a href="{{ path('deliverypartner_paper_cup_advertising') }}">#}
			<div class="box-img-outer">
            <div class="text-center box-img">
            <img class="img-responsive responce-img" src="{{ asset('images/Cloudnine.png') }}"  alt="Customized coffee cup campaign for  Cloudnine Fertility Services" title="Customized coffee cup campaign for  Cloudnine Fertility Services" >
                
            </div>
            </div>
{#             </a>#}
          {#} <h2 class="sub-title storytitle coffeetitle">Customized coffee cup campaign for   <span style="color:red;";>  Cloudnine </span>Fertility Services </h2>{#}
            <div class="row">
            <h2 class="text-left storytitle "> Paper cup marketing for healthcare industry </h2>
                 <div class="col-lg-12">
                <p class="page-text adv">Paper cup marketing is a subtle and ethical medium to advertise healthcare services to healthcare consumers. It is a great form of visual marketing that helps your target audience recognize, remember and act. To advertise sensitive topics such as infertility, the medium is fool proof. The target audience for such a segment is usually individuals between the age of 25 and 40 years. Taking your brand inside corporate offices, MNCs and tech parks is the best way to get visibility. Coffee cup advertising interacts with the target audience up-close and personal and literally places the advertising message under their nose. 	</p>
                </div>
            </div>
            <div class="col-lg-12 text-center btn-campaign">
			<a class="btn btn-primary read-more campaign-btn" href="http://gingercup.com/blog/awareness-infertility-paper-cup-advertising-campaign/"> CloudNine campaign's Pictures</a>
			</div>
        </div>
      </div>
      <div class="col-lg-6 box-outer storybox-paper ">
		<div class="box">
{# 		<a href="{{ path('deliverypartner_paper_cup_advertising') }}">#}
			<div class="box-img-outer">
            <div class="text-center box-img">
            <img class="img-responsive responce-img" src="{{ asset('images/Rohan.png') }}"  alt="Printed coffee cup advertisement for Rohan Builders" title="Printed coffee cup advertisement for Rohan Builders" >
                
            </div>
            </div>
{#             </a>#}
           {#}<h2 class="sub-title storytitle coffeetitle">Printed coffee cup advertisement for  <span style="color:red;";>  Rohan Builders </span> </h2>{#}
            <div class="row">
            <h2 class="text-left storytitle "> Personalized coffee cup campaign for the Real Estate Industry </h2>
                 <div class="col-lg-12">
                <p class="page-text adv">Paper cup marketing strategy is everything your real estate business needs to generate relevant traffic, leads and clients. For a target audience that includes first-time home buyers and corporate couples, the medium is highly engaging and innovative. In the real estate industry, just generating traffic is not enough, quality leads matter. This is only possible when your campaign connects with the target group. We at GingerCup engage with your potential customers during tea and coffee breaks at corporate offices, colleges and tea stalls. When a tea/coffee drinker sees your logo on a paper cup, they are immediately driven to find out more about your brand.  	</p>
                </div>
            </div>
            <div class="col-lg-12 text-center btn-campaign">
			<a class="btn btn-primary read-more campaign-btn" href="http://gingercup.com/blog/paper-cup-advertising-campaign-real-estate-marketing/"> Real Estate campaign's Pictures</a>
			</div>
        </div>
      </div>
      <div class="col-lg-6 box-outer storybox-paper ">
		<div class="box">
{# 		<a href="{{ path('deliverypartner_paper_cup_advertising') }}">#}
			<div class="box-img-outer">
            <div class="text-center box-img">
            <img class="img-responsive responce-img" src="{{ asset('images/myra.png') }}"  alt="Brand promotion campaign for MYRA College" title="Brand promotion campaign for MYRA College">
                
            </div>
            </div>
{#             </a>#}
          {#} <h2 class="sub-title storytitle coffeetitle">Brand promotion campaign for  <span style="color:red;";>  MYRA College  </span> </h2>{#}
            <div class="row">
            <h2 class="text-left storytitle "> Disposable tea/coffee cup marketing for Educational Services  </h2>
                 <div class="col-lg-12">
                <p class="page-text adv">For educational services who want to reach out to parents in corporate offices or students in college, coffee cup branding is the best advertising media. It is a non-fuss medium that connects with the target audience and urges them to take action. Designer coffee cups also connect with the potential customers for 3-5 minutes unlike other mediums. It is engaging, unique and innovative. From the uppermost to the bottom stratum of the social hierarchy, branded tea and coffee cups effectively targets everybody. Based on your requirement, we print advertising messages, brand logos, website details and taglines on the paper cup.  	</p>
                </div>
            </div>
            <div class="col-lg-12 text-center btn-campaign">
			<a class="btn btn-primary read-more campaign-btn" href="http://gingercup.com/blog/myra-college-marketing-strategy-in-brand-promotion/"> Myra campaign's Pictures</a>
			</div>
        </div>
      </div>
      <div class="col-lg-6 box-outer storybox-paper ">
		<div class="box">
{# 		<a href="{{ path('deliverypartner_paper_cup_advertising') }}">#}
			<div class="box-img-outer">
            <div class="text-center box-img">
            <img class="img-responsive responce-img" src="{{ asset('images/Book-myShow.png') }}"  alt="Brand promotion campaign with coupon code for Book My Show" title="Brand promotion campaign with coupon code for Book My Show"  >
                
            </div>
            </div>
{#             </a>#}
          {#} <h2 class="sub-title storytitle coffeetitle">Brand promotion campaign with coupon code for <span style="color:red;";>   Book My Show  </span> </h2>{#}
            <div class="row">
            <h2 class="text-left storytitle "> Takeaway Coffee Cup Ads with Coupon Codes </h2>
                 <div class="col-lg-12">
                <p class="page-text adv"> For marketers who want to get their products noticed by customers, coupon code paper cup marketing works well. With promotional codes, potential customers are drawn towards the product/service. It also establishes a connection between the vendor and consumer. Coupon code marketing also increases mobile app downloads for a company. Apart from coupon codes, branded coffee cups can also be used to reveal a prize, unique code, image, lottery number or any message to create interaction. Whether it's a corporate event or celebration or promotion, paper cups serve as the ideal medium to connect with your target customers. It also enhances the feel good factor associated with the brand.  	</p>
                </div>
            </div>
            <div class="col-lg-12 text-center btn-campaign">
			<a class="btn btn-primary read-more campaign-btn" href="{{ path('cup_site_management_gallery_collection_view', {'url': 'bookmyshow'})}}"> BookMyShow campaign's Pictures</a>
			</div>
        </div>
      </div>
     
	</div>
    

<div class="row">  
    	<div class="col-lg-12">
    	<div class="contact-us text-center">Have any Queries?</div> 
 {{ render(controller("CupSiteManagementBundle:Clients:popUpContact")) }} 
</div>
</div>
 
<div class="row footer-top semi-circle-border" style="margin-top: 30px;">
		
		 <div class="col-lg-7">
		  		<div class="row">
	                 <div class="col-lg-12">	
	                   <h3>About Us</h3>
	                    <p>GingerCup takes marketing up close and personal. It reflects the personalised branding strategy that GingerCup provides to its clients. 'Simple yet dynamic' is the motto we believe in. The service offering is simple "the coffee cup with the logo of the brand on it" but how the marketing strategy evolves from this coffee cup is dynamic. That's the GingerCup story.</p>	
	                 </div>
                </div>
				 <div class="row">
					 <div class="col-lg-12 contact-text">
					   <h3>Contact Us</h3>                   
						 <p>#05,Venkatadari Estate,</p> 
						 <p>Bharatiya city main road, Chokkanahalli, Bangalore-560064,Karnataka.Near Regal hospital (back side)</p>
						 <p>Email:contact@gingercup.com</p>
						 <p>Phone:+91-888 444 2846/47</p>
						 <div class="footer_social">
							<ul class="footbot_social">
							    <li><a class="google-plus" href="https://plus.google.com/117012940917333902273" data-placement="top" data-toggle="tooltip" title="google-plus"><i class="fa fa-google-plus box-icon-normal round animate-icon-bottom-to-top"></i></a></li>
								<li><a class="linkedin" href="https://www.linkedin.com/company/gingercup" data-placement="top" data-toggle="tooltip" title="linkedin"><i class="fa fa-linkedin box-icon-normal round animate-icon-bottom-to-top"></i></a></li>
								<li><a class="fb" href="https://www.facebook.com/gingercup" data-placement="top" data-toggle="tooltip" title="Facbook"><i class="fa fa-facebook box-icon-normal round animate-icon-bottom-to-top"></i></a></li>
								<li><a class="twtr" href="https://twitter.com/ginger_cup" data-placement="top" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter box-icon-normal round animate-icon-bottom-to-top"></i></a></li>
								{#<li><a class="whatsapp" href="" data-placement="top" data-toggle="tooltip" title="whatsapp"><i class="fa fa-whatsapp box-icon-normal round animate-icon-bottom-to-top"></i></a></li>#}
							</ul>
						</div>
					</div>
				</div>

    	</div>
    	<div class="col-lg-5">
		<div class="row" id="subscribe-letter">
		<div class="row" style="padding:13px;border: 1px solid;">
			<h3>Subscribe to <h2>our news letters</h2> </h3>
				<div class="col-lg-12 text-right">
						 
		
									
<style>
    div#sib_embed_signup .needsfilled input {border-color: #B94A48 !important; color: #B94A48 !important;}
    div#sib_embed_signup .needsfilled {color: #B94A48 !important;}
    div#sib_embed_signup input[type="text"] {border: 1px solid #CCCCCC;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;}
    div#sib_embed_signup div.message_area {position: relative;padding: 10px 30px 10px 10px; margin: 0px 0px 10px 0px;font-size:14px; border-radius: 5px;-webkit-border-radius: 5px; -moz-border-radius: 5px;box-sizing: border-box;}
    div#sib_embed_signup div.message_area button.close {position: absolute;right: 8px;top: 8px;color: inherit;background: 0 0;border: 0;padding: 0px;-webkit-appearance: none;cursor: pointer;font-weight: bold;font-size: 14px;}
    .tipicon{cursor: pointer;padding: 3px 7px;font-size: 12px;font-weight: bold;line-height: 1.2;color: #fff;text-align: center;vertical-align: baseline;background-color: #999;border-radius: 10px;text-decoration: none;}
    .tooltip{display: inline;position: absolute;left: 97%;}
    .tooltip:hover:after{background: #333;background: rgba(0,0,0,.8);border-radius: 5px;color: #fff;content: attr(data-title);right: -2px;bottom: 26px;padding: 5px 15px;position: absolute;z-index: 98;width: 220px;}
    .tooltip_small:hover:after{padding: 5px 5px; width: 150px;}
    .tooltip:hover:before{border: solid;border-color: #333 transparent;border-width: 6px 6px 0 6px;bottom: 20px;content: "";left: 1px;position: absolute;z-index: 99;}
div#sib_embed_signup .sib-container h1 {font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;}
div#sib_embed_signup h1.title {font-size: 40px;}
div#sib_embed_signup .sib-container .forms-builder-footer, div#sib_embed_signup .sib-container .description, div#sib_embed_signup .sib-container .fake-label, div#sib_embed_signup .sib-container .row, div#sib_embed_signup .sib-container #company-name{font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;}
div#sib_embed_signup .forms-builder-footer,div#sib_embed_signup div.description,div#sib_embed_signup .fake-label,div#sib_embed_signup .row  {font-size: 15px;}
div#sib_embed_signup .sib-container .button {font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;}
div#sib_embed_signup .button{font-size: 12px;}
div#sib_embed_signup input {font-size: 13px;}
div#sib_embed_signup .sib-containter h1 {color: #232323;}
div#sib_embed_signup .sib-container {color: #343434;}
div#sib_embed_signup .forms-builder-wrapper{ max-width: 350px;}
div#sib_embed_signup .header{ padding: 0 10px;}
div#sib_embed_signup h1.title{ lineHeight: 40px;}
div#sib_embed_signup h3.company-name{ lineHeight: 20px;}
div#sib_embed_signup div.description{ padding: 10px 15px;}
div#sib_embed_signup input[type=text]{ padding: 8px 4px; width:100% !important;box-sizing: border-box;}
div#sib_embed_signup .tooltip{ left: 98%;}
div#sib_embed_signup div.message_area{ font-size: 12px;}
.free-cups-toggle{display:none;}
.storybox-paper {
    min-height: 720px !important;
    padding-left: 15px;
    padding-right: 15px;
}
 .sub-title {
    font-size: 24px;
    padding-bottom: 15px;}
    .contact-us{    color: #000;
    font-weight: 700 !important;
    font-size: 28px;
    line-height: 38px;
    font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: -1px;
    word-spacing: -1px;
    position: relative;}
</style>
<div id="sib_embed_signup">
    <div class="forms-builder-wrapper" style="position:relative;">
                <input type="hidden" id="sib_embed_signup_lang" value="en">
        <input type="hidden" id="sib_embed_invalid_email_message" value="That email address is not valid. Please try again.">
	    <input type="hidden" name="primary_type" id="primary_type" value="email">
        <div id="sib_loading_gif_area" style="position: absolute;z-index: 9999;display: none;">
          <img src="https://my.sendinblue.com/public/theme/version4/assets/images/loader_sblue.gif" style="display: block;margin-left: auto;margin-right: auto;position: relative;top: 40%;">
        </div>
                <form class="description" id="theform" name="theform" action="https://my.sendinblue.com/users/subscribeembed/js_id/2r0dl/id/1" onsubmit="return false;">
            <input type="hidden" name="js_id" id="js_id" value="2r0dl"><input type="hidden" name="listid" id="listid" value="16"><input type="hidden" name="from_url" id="from_url" value="yes"><input type="hidden" name="hdn_email_txt" id="hdn_email_txt" value="">
                        <div class="sib-container rounded">
                
               <input type="hidden" name="req_hid" id="req_hid" value="" style="font-size: 13px; font-family: &quot;Trebuchet MS&quot;, Verdana, Tahoma, Geneva, sans-serif;">
               <div class="header" style="padding: 0px 10px;">
                    <h2 class="title editable" data-editfield="newsletter_name"  style="font-weight: normal; text-align: left; font-size: 40px; margin-bottom: 2px; padding: 0px; margin-top: 0px; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; color: rgb(35, 35, 35); display: none;">My Newsletter</h2>
  		    <h3 id="company-name"  style="font-weight: normal; text-align: left; font-size: 20px; margin-bottom: 12px; padding: 0px; margin-top: 0px; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; color: rgb(52, 52, 52); display: none;">By</h3>
                </div>
                    <div class="description editable" data-editfield="newsletter_description"  style="padding: 10px 15px; border-bottom: 1px solid rgb(204, 204, 204); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; color: rgb(52, 52, 52); font-size: 15px; display: none;">What type of content do you plan to share with your subscribers? </div>
                    <div class="view-messages" style=" margin:5px 0;"> </div>
                        <!-- an email as primary -->
            <div class="primary-group email-group forms-builder-group ui-sortable" style="">
                <div class="row mandatory-email" style="position: relative; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; color: rgb(52, 52, 52); font-size: 15px;">
                    <div class="lbl-tinyltr"  style="clear: both; float: none; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;text-align: left;color:#FFF;padding-bottom: 10px;">Enter your email address to subscribe. <red style="color:#ff0000;">*</red></div>
					
					
                    <input type="text" name="email" id="email" value="" style="padding: 8px 4px; width: 85%; min-width: auto;">
					
                    <div style="clear:both;"></div>
                    <div class="hidden-btns">
                        <a class="btn move" href="#"><i class="fa fa-arrows"></i></a><br>
                        <!--<a class="btn btn-danger delete"  href="#"><i class="fa fa-trash-o fa-inverse"></i></a>-->
                    </div>
                </div>
                
            </div>
                                        <div class="captcha forms-builder-group" style="display: none;"><div class="row" style="font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; color: rgb(52, 52, 52); font-size: 15px; padding: 10px;"><div id="gcaptcha"></div></div></div>
                         
            <!-- end of primary -->
                         <div class="byline row" style="font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; color: rgb(52, 52, 52); font-weight: bold; font-size: 16px; text-align: right; display: block;">
						 
                         <button class="button editable btn btn-primary read-more" type="submit" data-editfield="subscribe"  style="font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; display: inline-block; white-space: nowrap; min-height: 30px; margin: 5px 5px 0px 0px; padding: 0px 10px; text-decoration: none; text-transform: capitalize; text-align: center; font-weight: bold; font-style: normal; font-size: 12px; cursor: pointer; border: 1px solid #FFF; border-radius: 4px; vertical-align: top; height: auto; line-height: 150%;">Subscribe</button>
						 
						 </div>
                         <div style="clear:both;"></div>
                        </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    var sib_prefix = 'sib';
    var sib_dateformat = 'dd-mm-yyyy';
</script>
<script type='text/javascript' src='https://my.sendinblue.com/public/theme/version4/assets/js/src/subscribe-validate.js?v=1509617138'></script>
<!-- End : SendinBlue Signup Form HTML Code -->

				

				</div>
		</div>
		</div>
		</div>
		
    </div>
    <div class="small-gap"></div>
    <div class="row">
	<div class="col-lg-12 media468seocolor">
	<ul class="nav navbar-nav seo-links">
        <li>
            <a href="{{ path('cup_seo_advertising_bangalore' ) }}" >Bangalore</a>
        </li>
         <li>
            <a href="{{ path('cup_seo_advertising_delhi') }}">Delhi</a>
        </li>
         <li>
            <a href="{{ path('cup_seo_advertising_noida') }}">Noida</a>
        </li>
         <li>
            <a href="{{ path('cup_seo_advertising_gurgaon') }}">Gurgaon</a>
        </li>
         <li>
            <a href="{{ path('cup_seo_advertising_pune') }}">Pune</a>
        </li>
         <li>
            <a href="{{ path('cup_seo_advertising_mumbai') }}">Mumbai</a>
        </li>
		</ul>
		</div>
    </div>
	
	<div class="small-gap"></div>
 
	<div class="small-gap"></div>

				
    
</section>
</div>
 
{% endblock %}

