{% extends 'base.html.twig' %}
{% block javascripts %}

{% endblock %}
{% block body %}

    <section class="section clearfix">
        <div class="container">
            <div class="row">
                
                <div id="fullwidth" class="col-sm-12">
                    <div class="col-lg-12">
                        <h2>Delivery Partner</h2>
                         <table id="result" class="table table-bordered col-lg-12 col-sm-12">
                          
                                  <tr class="blue">
                                        <th>Company Name</th>
                                       <th> IndustryType </th>
                                        <th>Phone Number</th>
                                        <th>Email</th>                                
                                       
                                        <th> Package Dimenson </th>
                                         <th> Delivery Day </th>
                                        
                                    </tr>	
                           		
                                <tr>
                                   
                                    <td>{{ deliveryPartner.companyName }}</td> 
                                     <td>{{ deliveryPartner.industryType }}</td> 
                                    <td>{{ deliveryPartner.phoneNumber }}</td> 
                                    <td>{{ deliveryPartner.email }}</td>   
                                    
                                    <td>{{ deliveryPartner.packageDimenson }}</td>
                                    <td>
                                         {% for deliveryDay in deliveryPartner.deliveryDay if deliveryPartner.deliveryDay|length>0 %}
                                           {{ deliveryDay.day }},
                                        {% endfor %}
                                    </td>
                                   
                                </tr>
                             <tr>
                                <td colspan="6">
                                 {{ deliveryPartner.note }}
                                 </td>
                             </tr>
                        </table>
                        {% if deliveryPartner.customerDetail.first %}
                        <h2>Customer Detail</h2>
                         <table id="result" class="table table-bordered col-lg-12 col-sm-12">
                          
                                  <tr class="blue">
                                       
                                       <th>Sex Ratio</th>
                                        <th>Married Ratio</th> 
                                       <th>Age Group</th>
                                        <th>Income Group</th> 
                                     
                                    </tr>	
                           		
                                <tr>
                                    <td>  
                                        {{ deliveryPartner.customerDetail.first.sexRatio }} 
                                       </td> 
                                     <td> 
                                        {{ deliveryPartner.customerDetail.first.marriedToBachelorRatio }}
                                     </td>  
                                     <td>
                                         {% for age in deliveryPartner.ageGroup if deliveryPartner.ageGroup|length>0 %}
                                           {{ age.ageGroup }},
                                        {% endfor %}
                                    </td>
                                     <td>
                                         {% for income in deliveryPartner.incomeGroup if deliveryPartner.incomeGroup|length>0 %}
                                           {{ income.incomeGroup }},
                                        {% endfor %}
                                    </td>
                                   

                                </tr>
                             <tr>
                                <td colspan="4">
                                 {{ deliveryPartner.customerDetail.first.note }}
                                 </td>
                             </tr>
                        </table>
                        {% endif %}
                        {% if deliveryPartner.detail|length>0 %}
                        <h2>Delivery Details</h2>
                         <table id="result" class="table table-bordered col-lg-12 col-sm-12">
                          
                                  <tr class="blue">
                                        <th>Sl.No </th>
                                        <th>City </th>
                                       <th> No Of Orders </th>
                                        <th>Average Price</th>
                                        <th>Minimum Order</th>
                                      <th>Daily Subscription </th>
                                        <th>Weekly Subscription</th>
                                      <th>Monthly Subscription</th>
                                       <th> Note </th>
                                                                              
                                    </tr>	
                           		{% for detail in deliveryPartner.detail if deliveryPartner.detail|length>0 %}
                                <tr>
                                   
                                    <td>{{ loop.index }}</td> 
                                     <td>{{ city[detail.city] }}</td> 
                                    <td>{{ detail.noOfOrders }}</td> 
                                    <td>{{ detail.averagePrice }}</td> 
                                    <td>{{ detail.minimumOrder }}</td> 
                                     <td>
                                         {% if detail.dailySubscription %}
                                            Yes ({{ detail.dailySubscriptionNoOfOrders }})
                                         {% else %}
                                            N/A
                                         {% endif %}
                                    </td> 
                                     <td>
                                         {% if detail.weeklySubscription %}
                                            Yes ({{ detail.weeklySubscriptionNoOfOrders }})
                                         {% else %}
                                            N/A
                                         {% endif %}
                                    </td> 
                                     <td>
                                         {% if detail.monthlySubscription %}
                                            Yes ({{ detail.monthlySubscriptionNoOfOrders }})
                                         {% else %}
                                            N/A
                                         {% endif %}
                                    </td> 
                                    <td>{{ detail.note }}</td> 
                                   
                                </tr>
                             {% endfor %}
                        </table>
                        {% endif %}
                           
                    </div>
                </div>
            </div>

        </div>
</section>
{% endblock %}