{% extends 'page.html.twig' %}
{% block title %}GINGERCUP STORIES | GingerCup{% endblock %}

{% block javascript %}

{% endblock %}

{% block meta %}
<meta name="description" itemprop="description" content="Promote your brand,create more awareness and revenue through disposable coffee cup advertising.Gingercup offers premium range of coffee paper cups & mugs." />
<meta name="keywords" content="coffee cup advertising,paper cup advertising India,cup advertising,printed paper cups,Free Paper Cup Advertising,advertising coffee cup,advertising cup,coffee cup advertising,coffee mug advertising,ginger cups,advertising mug,paper cup media">
<link rel="canonical" href="http://www.gingercup.com/gingercup-story/" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="article" />
<meta property="og:title" content="GINGERCUP STORIES - GingerCup" />
<meta property="og:url" content="http://www.gingercup.com/gingercup-story/" />
<meta property="og:site_name" content="GingerCup" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="GINGERCUP STORIES - GingerCup" />
{% endblock %}
  {% block body %}
<section class="section clearfix page">
<div class="">
    <h1 class="text-center page-heading"><span>GingerCup</span> Stories</h1>
    <div>
    {% set i=0 %}
    {% for client in clients %}
    
     {% if client.storyTitle!="" %}
        {% if i is odd %}
        <div class="row">
        
        
               <div class="col-lg-9">
             <h3 class="sub-title">{{  client.storyTitle }}</h3>
            <p class="page-text">{{ client.storyDescription }}</p>
        	</div> 
        	<div class="col-lg-3 text-center">      
             {% if client.storyImage!="" %}       
  		  <img class="img-responsive" src="{{ asset('../../clients/'~client.storyImage) }}" alt=" ">                    
    		 {% endif %}
    		 </div> 
    </div>
     {% else %}  
     
     <div class="row">   
       <div class="col-lg-3 text-center">   
      {% if client.storyImage!="" %}   
        <img class="img-responsive" src="{{ asset('../../clients/'~client.storyImage) }}" alt=" ">
       {% endif %}   
       </div>
               <div class="col-lg-9">
             <h3 class="sub-title">{{  client.storyTitle }}</h3>
            <p class="page-text">{{ client.storyDescription }}</p>
        	</div>       
               
  		                     
    </div>
      {% endif %}
      {% set i=i+1 %}
     {% endif %}
	{% endfor %}
    {#}
    <div class="row">
        <div class="col-lg-3 text-center">
             <img class="img-responsive" src="{{ asset('images/29.png') }}">
        </div>
        <div class="col-lg-9">
            <h3 class="sub-title">Sets the ball rolling for your business</h3>
            <p class="page-text">There are some campaigns when we suddenly discover how much value the product/service adds to the life of the people using it. The inherent potential of that service is really a revelation for us too. Yumist marketing campaign was one such example. People really were in search of something that makes ordering daily meals on-demand using an App possible. ‘Homely Meals cooked with love’ are a basic necessity for keeping good health especially for those who stay away from their families for education and work. While campaigning we came across many people who were delighted to know about the Food-tech start-up Yumist and its affordable meals. They discovered something they had been searching for long. The expression on their faces was comparable to the expression we have on our faces when we come across an old friend of ours with whom we had lost touch in the years gone by.</p>
        </div>
    </div>
    <div class="row">
       
        <div class="col-lg-9">
            <h3 class="sub-title">Fashion serves as inspiration</h3>
            <p class="page-text">We have seen the GingerCup outdoor marketing team enthusiastic on the eve of every marketing campaign. But, this was the first time that the crowd was seen to be more enthusiastic than the people promoting the service. The young collegians from Jyoti Nivas, NIFT and Mount Carmel in Bangalore were eager to have a look into the Wooplr App. They downloaded the fashion App on our request and then they seem to be hooked onto it. They were inspired by the Tastemakers on the App who are India’s best fashion enthusiasts. They were thrilled to know where these Tastemakers got their ensemble from. Many even said that they would like to shop the entire look online sooner or later.</p>
        </div>
         <div class="col-lg-3 text-center">
             <img class="img-responsive" src="{{ asset('images/35.png') }}">
        </div>
    </div>
     <div class="row">
        <div class="col-lg-3 text-center">
             <img class="img-responsive" src="{{ asset('images/34.png') }}">
        </div>
        <div class="col-lg-9">
            <h3 class="sub-title">Eduadvertising</h3>
            <p class="page-text">Education is a noble profession and getting a chance to market an educational product was indeed a humbling experience. Through this campaign we got to know the expectations and aspirations of the youth of today. Today’s generation wants learning to be interactive and simplistic, and this is what the SuperProfs offer. SuperProfs are an online learning platform which helps students study for various exams. Students can access video lectures anytime anywhere using their App or website. While campaigning, one of our team members noticed a lady reading the logo of SuperProfs intently while having tea from a nearby tea vendor. On further enquiry we came to know that her son had exams and she had come to accompany him. She enquired about the services that SuperProfs had to offer in detail and readily downloaded the App on her phone. She was amazed by the play, pause and rewind option for the video lectures.  She later told us that her son was a weak in studies and this App would solve most of his learning related problems.</p>
        </div>
    </div>
    <div class="small-gap"></div>
</div>
{#}
</div>
</section>
{% endblock %}